.images{
    display: flex;
    align-items: flex-start;
    transition: transform 0.5s;
}
.outer{
    width:500px;
    overflow:hidden;
}
.outer .images img{
    width:500px;
}
.red{
    color:deeppink;
}